/** Font  Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Montserrat');



body {
    font-family: Montserrat;
    color: #6d6d6d;
}

h1 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
}

.card {
    margin: 0;
}

.contacts-tabs {
    border: solid 1px #e7e7e7;
}

a {
    font-family: Montserrat;
    text-decoration: none;
    color: black;
}